[MASTER]
ignore = .pytest_cache,
    htmlcov,
    venv,
    .coverage

[SPELLING]
# Spelling dictionary name. Available dictionaries: en_US. To make it working
# install python-enchant package.
spelling-dict=en_US

# A path to a file that contains private dictionary; one word per line.
spelling-private-dict-file=.pyenchant_pylint_dict.txt